body{
    background: #9DB2BF;
}

@media (max-width: 600px) { /*media query*/
  body {
    background-color: #ffe0b2; 
  }
}
h1{
    font-family: tahoma;
    color: #27374D;   
    font-size: 30px; 
    padding: 12px;
}
h2{
    color: #526D82;
    font-family: sans-serif;
    font-size: 23px;
    }

p{
    font-family: Arial;
    font-size: 18px;
}
img{
    width: 400px;      
}